---
pagination:
  data: bookmarks
  size: 5000
  alias: pageList
permalink: /sitemap-{{ pagination.pageNumber + 1 }}.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in pageList %}
  <url>
    <loc>https://jav-nhat-ban.vercel.app/{{ page.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
  {%- if pagination.pageNumber == 0 %}
  <url>
    <loc>https://jav-nhat-ban.vercel.app/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  {%- endif %}
</urlset>
